.decoration {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  color: rgba(73, 63, 252, 1);
}

.fa-briefcase {
  font-size: 80px;
  transform: translate( 30px, -151px);
}

.fa-laptop-code {
  font-size: 100px;
  transform: translate(50px, -156px);
}

.fa-desktop {
  font-size: 160px;
  transform: translate(55px, -158px);
}

.logo {
  transform: translate( -102px, -206px);
}

.fa-mouse {
  font-size: 40px;
  transform: translate( -75px, -158px);
}

.fa-coffee {
  font-size: 50px;
  transform: translate( -60px, -156px);
}

.fa-calendar-alt {
  font-size: 70px;
  transform: translate( -60px, -230px);
}

@media only screen and (max-width: 700px) {
  .fa-briefcase, .fa-laptop-code {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .fa-calendar-alt {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .fa-mouse {
    font-size: 40px;
    transform: translate( -70px, -158px);
  }
  .fa-coffee {
    display: none;
    font-size: 50px;
    transform: translate( -150px, -156px);
  }
}