* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  /* background: linear-gradient(90deg, rgba(110, 94, 254) 0%, rgba(73, 63, 252, 1)100%); */
  background: rgb(59, 59, 59);
}