.container {
  display: block;
  width: 97%;
  height: 100%;
  margin: 0 auto 0 auto;
  border-radius: 10px;
  box-shadow: 2px 4px 8px 2px rgba( 0, 0, 0, 0.5);
  background: rgba(73, 63, 252, 1);
}

.categories {
  text-align: center;
}

.button {
  margin: -30px 15px 0 15px;
  transform: translateY(-115px);
  cursor: pointer;
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  transform: translateY(-115px);
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* z-index: -1; */
}