.container {
  display: block;
  width: 100%;
  margin: 0 auto 0 auto;
  /* background-color: hotpink; */
}

.blueContainer {
  margin: 0;
  padding: 0;
  height: 500px;
  background: rgba(73, 63, 252, 1);
}

.headerProjects {
  text-align: center;
  transform: translateY(-90px);
  color: white;
}

.categories {
  text-align: center;
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 90%;
  margin: 0 auto 0 auto;
  padding: 50px 0 50px 0;
  transform: translateY(-230px);
  border-radius: 10px;
  box-shadow: 2px 4px 8px 2px rgba( 0, 0, 0, 0.3);
  background-color: rgb(241, 241, 241);
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* z-index: -1; */
}