.techStak {
  margin-top: 15px;
  height: 100%;
  width: 100%;
  background: white;
}

.techTitle {
  padding: 30px;
  font-size: 40px;
  font-weight: 1000;
  text-align: center;
}

.techContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.buttomTech {
  display: flex;
  flex-direction: row;
}

.frontEndContainer, .backEndContainer {
  height: 300px;
  width: 500px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 4px 8px 2px rgba( 0, 0, 0, 0.2);
  margin: 25px;
}

.imgTop, .frontEnd, .backEnd {
  height: 100px;
  border-radius: 10px;
  margin: 15px;
}

.rraContainer, .hcsContainer, .npContainer, .mmpContainer {
  display: flex;
  justify-content: space-around;
}

.css {
  transform: translateX(20px);
}

.bootstrap {
  transform: translateX(15px);
}

@media only screen and (max-width: 1150px) {
  .frontEndContainer, .backEndContainer {
    height: 250px;
    width: 450px;
  }
  .imgTop, .frontEnd, .backEnd {
    height: 90px;
    margin: 10px;
  }
}

@media only screen and (max-width: 1000px) {
  .buttomTech {
    flex-direction: column;
  }
}

@media only screen and (max-width: 550px) {
  .techTitle {
    font-size: 25px;
  }
  .frontEndContainer, .backEndContainer {
    height: 200px;
    width: 400px;
  }
  .imgTop, .frontEnd, .backEnd {
    height: 70px;
    margin: 5px;
  }
}

@media only screen and (max-width: 470px) {
  .frontEndContainer, .backEndContainer {
    height: 175px;
    width: 325px;
  }
  .imgTop, .frontEnd, .backEnd {
    height: 60px;
  }
}