/* h1 styled in App.css */

.techStak {
  height: 100%;
  width: 100%;
  padding-top: 40px;
  border-top: solid 1px rgb(235, 235, 235);
  transform: translateY(-120px);
}

.techTitle {
  margin: 50px 0 50px 0;
  text-align: center;
}

.techContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.topTech {
  margin: 20px 0 10px 0;
}

.buttomTech {
  margin: 10px 0 20px 0;
  display: flex;
  flex-direction: row;
}

.imgTop {
  margin: 25px;
}

.frontEndContainer, .backEndContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 500px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 4px 4px 2px rgba( 0, 0, 0, 0.2);
  margin: 30px;
  background-color: white;
}

.rraContainer, .hcsContainer, .npContainer, .mmpContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.itemImg {
  width: 140px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

/* Items Img Resolution */

.react, .redux, .angular {
  height: 80px;
  width: 80px;
}

.html, .css {
  height: 85px;
  width: 60px;
}

.bootstrap {
  height: 85px;
  width: 80px;
}

.nodeJs {
  height: 80px;
  width: 135px;
}

.postman {
  height: 80px;
  width: 90px;
}

.mongoDB {
  height: 80px;
  width: 115px;
}

.mySQL {
  height: 80px;
  width: 125px;
}

.postgreSQL {
  height: 80px;
  width: 85px;
}

@media only screen and (max-width: 1150px) {
  .frontEndContainer, .backEndContainer {
    width: 460px;
    margin: 25px;
  }
}

@media only screen and (max-width: 1000px) {
  .frontEndContainer, .backEndContainer {
    width: 500px;
    margin: 30px;
  }
  .buttomTech {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .techTitle {
    font-size: 25px;
  }
  .frontEndContainer, .backEndContainer {
    height: 200px;
    width: 400px;
    margin: 20px 0 20px 0;
  }
  .imgTop {
    margin: 10px;
    height: 65px;
    width: 65px;
  }
  .itemImg {
    margin: 10px 0 0 0;
    width: 100px;
    height: 85px;
  }
  .react, .redux, .angular {
    height: 60px;
    width: 60px;
  }
  .html, .css {
    height: 65px;
    width: 45px;
  }
  .bootstrap {
    height: 65px;
    width: 65px;
  }
  .nodeJs {
    height: 60px;
    width: 100px;
  }
  .postman {
    height: 60px;
    width: 65px;
  }
  .mongoDB {
    height: 60px;
    width: 80px;
  }
  .mySQL {
    height: 60px;
    width: 90px;
  }
  .postgreSQL {
    height: 60px;
    width: 60px;
  }
}

@media only screen and (max-width: 470px) {
  .frontEndContainer, .backEndContainer {
    height: 175px;
    width: 325px;
  }
  .itemImg {
    margin: 0;
    padding-top: 10px;
    width: 100px;
    height: 85px;
  }
}